.dialog {
  min-width: 350px;
  width: 350px;
  position: relative;

}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}



.title {
  font-size: 1.5rem;
}



.prefix {
  margin-right: 20px;
  color: grey;
}

.close-icon {
  cursor: pointer;
  color: grey;
  transform: scale(.75);
  position: absolute;
  right: 0;
}

.form-p-1 {
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;

}

.select-icon {
  position: relative;
  bottom: 0px;
  margin-right: 10px;
}

.modal-btn {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  width: 100%;
  color: white;
}

.checkbox {
  margin-top: 15px;
  margin-left: 12px;
}

.text {
  font-size: 13px;
}

button {
  color: white;
  margin-top: 10px;
}

.completed {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed info-menu {
  position: relative;
  width: 100%;
}



@media (max-width: 700px) {
  .dialog {
    width: 100%;
    min-width: 20px;
    min-height: 80vh;

    max-height: 80vh;
  }

  .completed {
    height: 70vh;

  }

  .image-container {
    height: 100px;
    width: 100px;


  }

  .loaded{
    padding-bottom: 10px;
  }

}
