<div class="background"></div>
<ng-container [ngSwitch]="currentStatus">
  <div class="loading" *ngSwitchCase="Status.loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <div class="error" *ngSwitchCase="Status.error">
    <app-error></app-error>
  </div>

  <div class="loaded" *ngSwitchCase="Status.loaded">
    <div class="header-container" fxLayout="row" fxLayoutAlign="start center">
      <input (change)="setProfilePicture($event)" #file type="file" fxShow="false">

      <div  class="image-container mat-elevation-z4" (click)="file.click()">
        <div class="overlay">
          <mat-icon>add</mat-icon>
        </div>
        <mat-icon *ngIf="user.profilePicture == null">perm_identity</mat-icon>
        <img *ngIf="user.profilePicture && !pictureData" [src]="baseUrl+user.profilePicture.picture">
        <img *ngIf="user.profilePicture  && pictureData " [src]="user.profilePicture.picture">

      </div>
      <div class="info" fxLayout="column">
        <span class="name">{{user.name}}</span>
        <div class="content" fxLayout="row" fxLayoutAlign="start ">
          <span class="pets-button" fxLayout="row" fxLayoutAlign="center center">
            PETS: {{user.pets.length}}
          </span>
          <mat-icon  *ngIf="myProfile" class="add-button" matRipple (click)="openAddModal()">add</mat-icon>
        </div>
      </div>
    </div>

    <div class="pets-container">
      <div class="empty" *ngIf="user.pets.length == 0">
        <empty text="No pets added"></empty>
      </div>
      <div class="content" fxLayout="row wrap" fxLayoutAlign="start">
        <div fxFlex="none" class="pet " *ngFor="let pet of user.pets; let i = index" (click)="openInfo(pet)"
          [ngClass]="{'margin-fix': isLastElementRow(i)}">
          <button (click)="delete(pet, $event)" *ngIf="myProfile" class="delete-button" mat-icon-button color="accent">
            <mat-icon>close</mat-icon>
          </button>
          <img *ngIf="pet.profilePicture" class="mat-elevation-z4" [src]="baseUrl+pet.profilePicture.picture">
          <div class="no-pfp mat-elevation-z4" *ngIf="!pet.profilePicture">
          <mat-icon >pets</mat-icon></div>
          <span>{{pet.name}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
