<div class="background"></div>
<ng-container [ngSwitch]="currentStatus">
  <div class="loading" *ngSwitchCase="Status.loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <div class="error" *ngSwitchCase="Status.error">
    <app-error></app-error>
  </div>

  <div class="loaded" *ngSwitchCase="Status.loaded">
    <div class="header-container" fxLayout="row" fxLayoutAlign="start center">
      <input (change)="setProfilePicture($event)" #file type="file" fxShow="false">

      <div class="image-container mat-elevation-z4" (click)="file.click()">
        <div class="overlay">
          <mat-icon>add</mat-icon>
        </div>
        <mat-icon *ngIf="user.profilePicture == null">perm_identity</mat-icon>
        <img *ngIf="user.profilePicture" [src]="baseUrl+user.profilePicture.picture">

      </div>
      <div class="info" fxLayout="column">
        <span class="name">{{user.name}}</span>
        <div class="content" fxLayoutAlign="start ">
          <span class="pets-button chip-button" fxLayout="row" fxLayoutAlign="center center">
            PETS: {{user.pets.length}}
          </span>
          <span *ngIf="myProfile" (click)="openEditUser()" matRipple class="edit-user-button chip-button" fxLayout="row"
            fxLayoutAlign="center center">
            Edit user
          </span>
        </div>
      </div>
    </div>

    <div class="pets-container">
      <div class="empty" *ngIf="user.pets.length == 0">
        <empty text="No pets added"></empty>
      </div>
      <div class="content" fxLayout="column" fxLayoutAlign="start">
        <mat-list role="list">
          <mat-list-item class="pet-container" *ngFor="let pet of user.pets; let i = index" (click)="openInfo(pet)"
            role="listitem">
            <img mat-list-icon [src]="baseUrl+pet.profilePicture.picture">
            <span>{{pet.name}}</span>
            <button (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu" [matMenuTriggerData]="{pet: pet}"
              id="more" mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

      </div>
    </div>
  </div>
</ng-container>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-pet="pet">
    <button (click)="openPicturesModal(pet,$event)" mat-menu-item>Edit Pictures</button>
    <button (click)="openEdit(pet,$event)" mat-menu-item>Edit Pet info</button>
    <button (click)="delete(pet,$event)" mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>
<button (click)="openAddModal()" *ngIf="myProfile" color="primary" [ngClass]="{'hide':hideFab}" class="fab" mat-fab
  aria-label="Example icon button with a heart icon">
  <mat-icon>add</mat-icon>
</button>
