.image-container {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 30vw;
  height: 60vh;
  border-radius: 15px;
  object-fit: contain;
  border-radius: 15px;
  transition: filter .3s ease;
  cursor: pointer;
}

.image-container:hover {
  filter: brightness(.75);
}

.report {
  color: grey;
  margin-right: 10px;
}

.likes-dislikes {
  margin-left: auto;
}

.likes {
  margin-right: 20px;
}

.like-icon {
  color: #4caf50;
}

.icons {
  position: fixed;
  height: 20px;
  top: 60px;
  z-index: 100;
}

.icons mat-icon {
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 20px;
  padding: 6px;
}

.error {
  margin-top: 100px;

}

.dislike-icon {

  color: #f44336;
}

.dislikes {
  margin-right: 10px;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.loaded {
  position: relative;
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.empty mat-icon {
  transform: scale(3);
  margin-top: 100px;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);

}

.empty span {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 0px 2px 34px 1px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 34px 1px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 34px 1px rgba(0, 0, 0, 0.34);
  width: 30%;
  height: 14vh;
  z-index: 20;
  cursor: pointer;
  transition: filter .3s ease;
}

.card:hover {
  filter: brightness(.75);
}


.name-container {
  margin-left: 25px;
}

.subtitle {
  font-size: 16px;
  color: grey;
}

.pet-icon {
  margin-left: 20px;
  color: rgb(104, 104, 104);
  transform: scale(1.5);
}

.title {
  font-size: 20px;
  font-weight: 500;
}

@media(max-width:700px) {
  .image-container {
    width: 90%;

  }



  .action-buttons {
    width: 95vw;
  }

  .card {

    width: 100%;
  }

}
